<h1>Cocktails#index</h1>



<div class="text-center">

  <h2>Cocktails</h2>
  <%= link_to "Create a Cocktail", new_cocktail_path %>
  <ul class="list-group">
    <% @cocktails.each do |cocktail| %>
    <li class="list-group-item">
      <span class="badge large"> 25 </span>
     <h3> <%= link_to Kramdown::Document.new(cocktail.name).to_html.html_safe, cocktail_path(cocktail)%> </h3>
    </li>
  <%end%>
  </ul>
</div>

