// Your footer style
.footer {
  bottom: 0;
  background-color: #0D2424;
  color: #DAE4D4;
  padding: 30px;
  margin-top: 40px;
  top: 100%;
}

.wrapper-brown .fa {
  font-size: 40px;
}
.wrapper-brown p {
color: #3FA49F;
}

.wrapper-brown a:hover {
  color: #E9D131;
}
